<div class="user-login-adfs-fail">
    <a class="m-nav__link m-dropdown__toggle" (click)="signoutAdfs()" href="javascript:void(0)"><span class="m-topbar__username">
            <!----><i class="fa fa-reply m--font-danger ng-star-inserted"></i>
            <!---->{{userName}} </span><span class="m-topbar__userpic">
            <!----><img alt=""
                class="header-profile-picture m--img-rounded m--marginless m--img-centered ng-star-inserted"
                src="/assets/common/images/default-profile-picture.png"></span></a>
</div>

<div class="login-fail-content">
    <p class="login-adfs-fail">{{l('LoginAdfsFail')}}</p>

    <div id="content" class="m-content">
        <div class="dashboard-page">
            <img src="/assets/logo/homepage.png" />
        </div>
    </div>
</div>