<div [@routerTransition]>
    <appToolbar #appToolbar></appToolbar>
    <div class="m-subheader">
        <div class="row align-items-center">
            <div class="mr-auto col-auto">
                <!-- Begin Title -->
                <a [routerLink]="rootPage()" class="m-subheader__title
                    m-subheader__title--separator link-to-list-page home-page">
                    <span>{{l("HomePage")}}</span>
                </a>
                <h3 (click)="goBack()" class="m-subheader__title
                    m-subheader__title--separator link-to-list-page">
                    <span>{{l("GoodsTypeRealList")}}</span>
                </h3>
                <span [ngSwitch]="editPageState" class="m-section__sub">
                    <span *ngSwitchCase="EditPageState.add">{{l("Create")}}</span>
                    <span *ngSwitchCase="EditPageState.edit">{{l("Edit")}}</span>
                    <span *ngSwitchCase="EditPageState.viewDetail">{{l("View")}}</span>
                </span>
                <!-- End Title -->
            </div>
            <div class="col text-right mt-3 mt-md-0">
            </div>
        </div>
    </div>

    <div id="content" class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <!-- Begin Form -->
                <form #editForm="ngForm" id="editForm" novalidate
                    (ngSubmit)="saveInput()" autocomplete="off">
                    <div class="modal-body row">
                        <div class="col-md-12 align-right">
                            <div class="form-group">
                                <auth-status-input-page
                                    [authStatus]="inputModel.autH_STATUS"></auth-status-input-page>
                            </div>
                        </div>
                        <!-- <input hidden class="form-control" type="text"
                            #gD_RETYPE_ID="ngModel" name="gD_RETYPE_ID"
                            [(ngModel)]="inputModel.gD_RETYPE_ID"> -->
                        
                        <!-- Mã loại hàng hóa thực tế -->
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label>{{l("GoodsTypeRealCode")}}</label>
                                <input maxlength="15" required
                                    class="form-control"
                                    [disabled]="disableInput" type="text"
                                    #gD_RETYPE_CODE="ngModel"
                                    name="gD_RETYPE_CODE"
                                    [(ngModel)]="inputModel.gD_RETYPE_CODE">
                                <div class="error-message"
                                    *ngIf="gD_RETYPE_CODE.invalid &&
                                    isShowError">
                                    <span
                                        *ngIf="gD_RETYPE_CODE?.errors?.required">{{l('GoodsTypeRealCode')}}
                                        {{l("ValidationRequired")}}</span>
                                    <span
                                        *ngIf="gD_RETYPE_CODE?.errors.pattern">{{l('GoodsTypeRealCode')}}
                                        {{l("Invalidation")}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12"></div>

                        <!-- Tên loại hàng hóa thưc tế -->
                        <div class="col-md-6">
                            <div class="form-group required">
                                <label>{{l("GoodsTypeRealName")}}</label>
                                <input required class="form-control"
                                    [disabled]="disableInput" type="text"
                                    #typE_NAME="ngModel" name="typE_NAME"
                                    [(ngModel)]="inputModel.typE_NAME"
                                    maxlength="200">
                                <div class="error-message"
                                    *ngIf="typE_NAME.invalid && isShowError">
                                    <span *ngIf="typE_NAME?.errors?.required">{{l('GoodsTypeRealName')}}
                                        {{l("ValidationRequired")}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12"></div>

                        <!-- Ghi chú -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{{l("Notes")}}</label>
                                <textarea class="form-control"
                                    [disabled]="disableInput" type="text"
                                    #notes="ngModel" name="notes"
                                    [(ngModel)]="inputModel.notes"></textarea>
                            </div>
                        </div>
                        <button hidden (click)="saveInput()"></button>
                    </div>
                </form>
                <!-- Begin Form -->
            </div>
        </div>
    </div>
</div>
