<div [@routerTransition]>
    <appToolbar #appToolbar></appToolbar>
    <div class="m-subheader">
        <div class="row align-items-center">
            <div class="mr-auto col-auto">
                <!-- Begin Title -->
                <a [routerLink]="rootPage()" class="m-subheader__title m-subheader__title--separator link-to-list-page home-page">
                    <span>{{l("HomePage")}}</span>
                </a>
                <h3 (click)="goBack()" class="m-subheader__title m-subheader__title--separator link-to-list-page">
                    <span>{{l("Department_Title")}}</span>
                </h3>
                <span [ngSwitch]="editPageState" class="m-section__sub">
                    <span *ngSwitchCase="EditPageState.add">{{l("Toolbar_Create")}}</span>
                <span *ngSwitchCase="EditPageState.edit">{{l("Toolbar_Update")}}</span>
                <span *ngSwitchCase="EditPageState.viewDetail">{{l("Toolbar_ViewDetail")}}</span>
                </span>
                <!-- End Title -->
            </div>
            <div class="col text-right mt-3 mt-md-0">
            </div>
        </div>
    </div>

    <div id="content" class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <!-- Begin Form -->
                <form #editForm="ngForm" id="editForm" novalidate (ngSubmit)="saveInput()" autocomplete="off">
                    <div class="modal-body row">
                        <div class="col-md-12 align-right">
                            <div class="form-group">
                                <auth-status-2-input-page [authStatus]="inputModel.autH_STATUS"></auth-status-2-input-page>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <!-- Mã phòng -->
                                <div class="col-md-12">
                                    <div class="form-group required">
                                        <label>{{l("DepartmentCode")}}</label>
                                        <input maxlength="15" required class="form-control" type="text" #deP_CODE="ngModel" name="deP_CODE" maxleght="15" [disabled]="disableInput" pattern="{{s('gAMSProCore.CodeNumberRegexValidation')}}" [(ngModel)]="inputModel.deP_CODE">
                                        <div class="error-message" *ngIf="deP_CODE.invalid && isShowError">
                                            <span *ngIf="deP_CODE?.errors.required">{{l('DepartmentCode')}}
                                                {{l("ValidationRequired")}}</span>
                                            <span *ngIf="deP_CODE?.errors.pattern">{{l('DepartmentCode')}}
                                                {{l("Invalidation")}}</span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Tên phòng ban -->
                                <div class="col-md-12">
                                    <div class="form-group required">
                                        <label>{{l("DepartmentName")}}</label>
                                        <input required class="form-control" [disabled]="disableInput" type="text" #deP_NAME="ngModel" name="deP_NAME" [(ngModel)]="inputModel.deP_NAME" maxlength="200">
                                        <div class="error-message" *ngIf="deP_NAME.invalid && isShowError">
                                            <span *ngIf="deP_NAME?.errors.required">{{l('DepartmentName')}}
                                                {{l("ValidationRequired")}}</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Tên đơn vị -->
                                <div class="col-md-12">
                                    <div class="form-group required">
                                        <label>{{l("BranchName")}}</label>
                                        <div class="input-group">
                                            <input [readOnly]="true" class="form-control" required name="brancH_NAME" #brancH_NAME="ngModel" [(ngModel)]="inputModel.brancH_NAME" />
                                            <button type="button" class="btn btn-primary" (click)="branchModal.show()">...</button>
                                        </div>
                                        <div class="error-message" *ngIf="brancH_NAME.invalid && isShowError">
                                            <span *ngIf="brancH_NAME?.errors.required">{{l('BranchName')}}
                                                {{l("ValidationRequired")}}</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Nhóm phòng ban -->
                                <div class="col-md-12">
                                    <div class="form-group required">
                                        <label>{{l("DepartmentGroup")}} </label>
                                        <select2-custom [disabled]="disableInput" required name="grouP_ID" #grouP_ID="ngModel" [(ngModel)]="inputModel.grouP_ID" [(list)]="deptGroups" [emptyText]="" [valueMember]="'grouP_ID'" [displayMember]="'grouP_NAME'">
                                        </select2-custom>
                                        <div class="error-message" *ngIf="grouP_ID.invalid && isShowError">
                                            <span *ngIf="grouP_ID?.errors.required">{{l('DepartmentGroup')}}
                                                {{l("ValidationRequired")}}</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Số điện thoại -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="PhoneNumber">{{l("PhoneNumber")}}</label>
                                        <input id="PhoneNumber" [disabled]="disableInput" #phoneNumber="ngModel" type="text" name="PhoneNumber" class="form-control" pattern="{{s('gAMSProCore.PhoneNumberRegexValidation')}}" [(ngModel)]="inputModel.tel" maxlength="24">
                                        <div class="error-message" *ngIf="phoneNumber && phoneNumber.invalid && isShowError">
                                            <span *ngIf="phoneNumber?.errors.pattern">
                                                {{l("PhoneNumberInvalid")}}</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Dao Code -->
                                <!-- <div class="col-md-10">
                                    <div class="form-group">
                                        <label>{{l("DaoCode")}} </label>
                                        <input class="form-control" [disabled]="disableInput" type="text" #daO_CODE="ngModel" name="daO_CODE" [(ngModel)]="inputModel.daO_CODE">
                                    </div>
                                </div> -->

                                <!-- Dao Name -->
                                <!-- <div class="col-md-10">
                                    <div class="form-group">
                                        <label>{{l("DaoName")}} </label>
                                        <input class="form-control" [disabled]="disableInput" type="text" #daO_NAME="ngModel" name="daO_NAME" [(ngModel)]="inputModel.daO_NAME">
                                    </div>
                                </div> -->

                                <!-- Hoạt động -->
                                <!-- <div class="col-md-10">
                                    <div class="form-group outter-vertical-center">
                                        <div class="form-group inner-vertical-center">
                                            <label class="m-checkbox" for="recorD_STATUS">{{l("IsActive")}}
                                                <input type="checkbox"
                                                    [disabled]="disableInput"
                                                    id="recorD_STATUS"
                                                    #recorD_STATUS
                                                    name="recorD_STATUS"
                                                    [checked]="inputModel.recorD_STATUS == '1'"
                                                    (change)="inputModel.recorD_STATUS = recorD_STATUS.checked? '1' : '0'">
                                                <span></span>
                                            </label>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- Ghi chú -->
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>{{l("Note")}}</label>
                                        <textarea class="form-control" [disabled]="disableInput" type="text" #notes="ngModel" name="notes" [(ngModel)]="inputModel.notes"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- Begin Form -->
            </div>
        </div>
    </div>
</div>

<branch-modal #branchModal [multiple]="false" (onSelect)="onSelectBranch($event)"></branch-modal>