<div [@routerTransition]>
  <appToolbar #appToolbar></appToolbar>
  <div id="page-list-area">
      <div class="m-subheader">
          <div class="row align-items-center">
              <div class="mr-auto col-auto">
                  <a
                      [routerLink]="rootPage()"
                      class="m-subheader__title m-subheader__title--separator link-to-list-page home-page"
                  >
                      <span>{{l("HomePage")}}</span>
                  </a>
                  <h3
                      class="m-subheader__title m-subheader__title--separator"
                  >
                      <!-- Begin Title -->
                      <span>Danh mục chủ sở hữu</span>
                      <!-- End Title -->
                  </h3>
              </div>
              <div class="col text-right mt-3 mt-md-0">
                  <div class="btn-group dropdown mr-2">
                      <button class="btn btn-outline-success"
                      *ngIf="appToolbar.buttonSearchEnable"
                          (click)="exportExcel()">
                          <i class="far fa-file-excel"></i>
                          {{l("ExcelOperations")}}
                      </button>
                  </div>
              </div>
          </div>
      </div>

      <div id="content"
          class="m-content">
          <div class="m-portlet m-portlet--mobile">
              <div class="m-portlet__body">
                  <form class="horizontal-form filter-form"
                      autocomplete="off">
                      <div class="m-form m-form--label-align-right">
                          <div class="row align-items-center m--margin-bottom-30">
                              <!-- Begin Filter -->
                              <!-- Loại chủ sở hữu -->
                              <div class="col-md-4">
                                <div class="form-group">
                                    <label>Loại chủ sở hữu</label>
                                    <select2-custom (onChangeSelect2)="onSelectRecord($event)"
                                        name="owneR_TYPE"
                                        class="transparent"
                                        [(ngModel)]="filterInput.owneR_TYPE"
                                        [emptyText]="l('SelectAll')"
                                        [(list)]="ownerTypes"
                                        [valueMember]="'cdval'"
                                        [displayMember]="'content'">
                                    </select2-custom>
                                </div>
                            </div>
                              <!-- Mã cổ đông ngoài -->
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label>Mã chủ sở hữu</label>
                                      <input 
                                          [(ngModel)]="filterInput.owneR_ID"
                                          name="owneR_IDFilter"
                                          autoFocus
                                          class="form-control m-input"
                                          type="text">
                                  </div>
                              </div>
                              <!-- Tên cổ đông ngoài -->
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label>Tên chủ sở hữu</label>
                                      <input 
                                          [(ngModel)]="filterInput.owneR_NAME"
                                          name="owneR_NAMEFilter"
                                          autoFocus
                                          class="form-control m-input"
                                          type="text">
                                  </div>
                              </div>
                              <!-- Tên phòng ban -->
                              <!-- <div class="col-md-4">
                                  <div class="form-group">
                                      <label>MST/CMND/CCCD/Hộ chiếu</label>
                                      <input 
                                          [(ngModel)]="filterInput.o_SHAREHOLDER_CODE"
                                          name="o_SHAREHOLDER_CODEFilter"
                                          class="form-control m-input"
                                          type="text">
                                  </div>
                              </div>
                              <div class="col-md-12"></div> -->
                              <!-- Khối -->
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label>Hoạt động</label>
                                      <select2-custom (onChangeSelect2)="onSelectRecord($event)"
                                          name="recorD_STATUS"
                                          class="transparent"
                                          [(ngModel)]="filterInput.recorD_STATUS"
                                          [emptyText]="l('SelectAll')"
                                          [(list)]="records"
                                          [valueMember]="'recorD_STATUS'"
                                          [displayMember]="'recordName'">
                                      </select2-custom>
                                  </div>
                              </div>

                              <!-- Trạng thái duyệt -->
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label>{{l("ApproveStatus")}}</label>
                                      <select2-custom (onChangeSelect2)="onSelectRecord($event)"
                                          name="autH_STATUS"
                                          class="transparent"
                                          [(ngModel)]="filterInput.autH_STATUS"
                                          [emptyText]="l('SelectAll')"
                                          [(list)]="auths"
                                          [valueMember]="'autH_STATUS'"
                                          [displayMember]="'autH_STATUS_NAME'">
                                      </select2-custom>
                                  </div>
                              </div>
                              <!-- End Filter -->
                              <div style="display:none;"
                                  class="col-md-12">
                                  <div class="form-group">
                                      <button *ngIf="appToolbar.buttonSearchEnable"
                                          class="btn btn-primary btn-search"
                                          (click)="onSearch()"></button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
                  <div class="row align-items-center">
                      <div class="primeng-datatable-container">
                          <div class="spinner-border m-5"
                              role="status">
                              <span class="sr-only">Loading...</span>
                          </div>
                          <core-table #coreTable
                              class="custom-table ui-table"
                              (reloadPage)="search()">
                              <thead>
                                  <tr>
                                      <!-- Begin Table Column -->
                                      <!-- STT -->
                                      <th class="center">
                                          <span style="width: 40px">{{l("No")}}</span>
                                      </th>
                                      <!-- Mã phòng -->
                                      <th style="width:30%"
                                          sortField="owneR_ID">
                                          <span style="width: 150px">Mã chủ sở hữu</span>
                                      </th>
                                      <!-- Tên phòng ban -->
                                      <th style="width:40%"
                                          sortField="owneR_NAME">
                                          <span style="width: 150px">Tên chủ sở hữu</span>
                                      </th>
                                      <th style="width:30%"
                                          sortField="owneR_TYPE_NAME">
                                          <span style="width: 150px">Loại chủ sở hữu</span>
                                      </th>
                                      <th sortField="RECORD_STATUS_NAME"
                                          style="width:100%">
                                          <span style="width: 200px">Hoạt động</span>
                                      </th>
                                      <!-- Trạng thái duyệt -->
                                      <th sortField="AUTH_STATUS_NAME">
                                          <span style="width: 150px">{{l("ApproveStatus")}}</span>
                                      </th>
                                      <th sortField="notes">
                                        <span style="width: 150px">Ghi chú</span>
                                    </th>
                                      <!-- End Table Column -->
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let record of dataTable.records"
                                      class="selectable"
                                      (dblclick)="onDblclick(record)"
                                      (click)="selectRow($event,record)">
                                      <!-- Begin Table Value -->
                                      <!-- STT -->
                                      <td class="center"><span class="mo-header"></span>{{(filterInputSearch.skipCount
                                          + dataTable.records.indexOf(record)) + 1}}
                                      </td>
                                      <!-- Mã phòng -->
                                      <td><span class="mo-header"></span>{{record.owneR_ID}}</td>
                                      <!-- Tên phòng ban -->
                                      <td><span class="mo-header"></span>{{record.owneR_NAME}}</td>
                                      <!-- Mã đơn vị -->
                                      <!-- <td><span class="mo-header"></span>{{record.brancH_CODE}}</td> -->
                                      <!-- Tên đơn vị -->
                                      <td><span class="mo-header"></span>{{record.owneR_TYPE_NAME}}</td>
                                      <!-- Dao Code -->
                                      <!-- <td><span class="mo-header"></span>{{record.daO_CODE}}</td> -->
                                      <!-- Dao Name -->
                                      <!-- <td><span class="mo-header"></span>{{record.daO_NAME}}</td> -->

                                      <!-- Khối -->
                                      <td><span class="mo-header"></span>{{record.recorD_STATUS_NAME}}</td>
                                      <!-- Mã phòng ban cha -->
                                      <td><span class="mo-header"></span>{{record.autH_STATUS_NAME}}</td>
                                      <!-- Tên phòng ban cha -->
                                      <td><span class="mo-header"></span>{{record.notes}}</td>
                                      <!-- End Table Value -->
                                  </tr>
                              </tbody>
                          </core-table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
