<div [@routerTransition]>
    <div class="m-subheader">
        <div class="row align-items-center">
            <div class="mr-auto col-auto">
                <h3 class="m-subheader__title">
                    <span>{{"TermsOfUse" | localize}}</span>
                </h3>
            </div>
        </div>
    </div>
    <!-- <div id="content" class="m-content"> -->
        <div style="text-align: left;" class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <!-- <div class="row ">align-items-center -->
                    <div class="row">
                     <div class="row col-md-12 modal-body"> 
                        <div class="col-md-12" style="text-align: center;">
                            <h2>Điều khoản sử dụng</h2>
                        </div>
                        <div class='col-md-12'>
                            <h3 style="color: red;">1.  Bảng Thỏa Thuận</h3>
                            <div style="margin-left: 10px;">
                            <h4>A. Giới thiệu</h4>
                            <p class='text-content'>Bảng Thỏa Thuận Ngân hàng trực tuyến HDBank 
                                giải thích các điều khoản và điều kiện cho việc truy cập 
                                vào tài khoản và thực hiện các giao dịch tài chính trên Ngân hàng 
                                trực tuyến HDBank. Trong Thỏa Thuận, chữ ký của Quý Khách sẽ chính
                                 là đại diện Pháp lý cho Quý Khách, khi Quý Khách chấp nhận bảng 
                                 Thỏa Thuận sử dụng Ngân hàng trực tuyến HDBank.</p>
                            <h4>B. Tính ràng buộc của bảng Thỏa Thuận</h4>
                            <p class='text-content'>Ngay lần đầu tiên Quý Khách truy cập vào Ngân hàng 
                                trực tuyến HDBank, Quý khách phải đồng ý sự ràng buộc bởi các điều khỏan 
                                và điều kiện của bảng Thỏa Thuận. Quý khách phải chấp nhận và hiểu rõ 
                                về những điều khoản và điền kiện trong bảng Thỏa Thuận.</p>
                            <h4>C. Tính thay đổi của bảng Thỏa Thuận</h4>
                            <p class='text-content'>Khi Quý Khách sử dụng các dịch vụ của Ngân hàng 
                                trực tuyến HDBank cung cấp, Quý Khách phải chấp nhận sự ràng buộc 
                                của các điều khoản và điền kiện trong bảng Thỏa Thuận, kể cả khi 
                                các điều khoản và điều kiện này có sự thay đổi hoặc bổ sung.
                            </p><p class='text-content'>
                                Ngân hàng HDBank được quyền thay đổi bất cứ điều khoản nào được ghi 
                                trong bảng Thỏa Thuận này. Khi có bất cứ yếu tố thay đổi nào, 
                                Ngân hàng HDBank sẽ gửi email đến email của Quý Khách, gửi thư đến 
                                địa chỉ đăng ký trong thông tin cá nhân của Quý Khách. 
                                Ngoài ra, Quý Khách có thể truy cập vào website Ngân hàng 
                                HD www.hdbank.com.vn để cập nhật thông tin.
                            </p><p class='text-content'>   
                                Các điều khoản của bảng Thỏa Thuận này có hiệu lực kể cả khi Quý Khách 
                                đã chấm dứt sử dụng dịch vụ của HDBank trong trường hợp có sự liên quan
                                 đến quyền và trách nhiệm của Quý Khách trong thời gian Quý Khách đã sử dụng
                                  dịch vụ do Ngân hàng trực tuyến HDBank cung ứng.</p>
                            <h4>D. Các biện pháp khắc phục vi phạm bảng Thỏa Thuận</h4>
                            <p class='text-content'>Ngân hàng HDBank khuyến cáo Quý Khách không nên vi phạm 
                                các điều kiện và điền khỏan trong bảng Thỏa Thuận sử dụng Ngân hàng trực tuyến
                                 HDBank. Ngân hàng HDbank không đưa ra bất kỳ biện pháp khắc phục nào.</p>
                                </div>
                        </div>
                        <div class="col-md-12">
                            <h3 style="color: red;">2. Giới thiệu Ngân hàng trực tuyến HDBank</h3>
                            <div style="margin-left: 10px;">
                            <h4>A. Lợi ích của Ngân hàng trực tuyến HDBank</h4>
                            <p class='text-content'>Quý khách truy cập vào Ngân hàng trực tuyến HDBank, thuận tiện kiểm tra tình trạng tài khoản và sử dụng các dịch vụ tài chính trực tuyến do Ngân hàng trực tuyến HDBank cung cấp, mà không bị ràng buộc bởi không gian và thời gian.</p>
                        <p class='text-content'>1. Kiểm tra thông tin các tài khoản của Quý Khách trên Ngân hàng trực tuyến HDBank.</p>
                        <p class='text-content'>2. Kiểm tra các hoạt động giao dịch tài chính, tình trạng tài khoản theo từng thời kỳ.</p>
                        <p class='text-content'>3. Thực hiện chuyển khoản giữa tài khoản của Quý Khách với các tài khoản trong cùng Ngân hàng HDBank hoặc các tài khoản thuộc hệ thống các Ngân hàng liên kết với HDBank ( nếu có một phần tiền trong tài khoản của Quý khách thuộc dạng tài khoản bảo đảm, thì Quý Khách không thể chuyển khoản phần tiền đó được).</p>
                        <p class='text-content'>4. Chuyển tiền thanh toán cho thấu chi, cho vay tiêu dùng, khoản vay mua nhà, hoặc các khoản vay đủ điều kiện nhất định khác.</p>
                        <p class='text-content'>5. Thực hiện thanh toán hóa đơn các loại dịch vụ ( dịch vụ điện, dịch vụ mạng Internet, dịch vụ vé máy bay, dịch vụ cước thuê bao di động).</p>
                        <p class='text-content'>6. Thực hiện thanh toán trực tuyến khi Quý Khách mua hàng hoá ở các website mua bán trực tuyến.</p>
                        <p class='text-content'>7. Quý Khách có thể tự chọn in sao kê theo từng thời kỳ.</p>
                        <p class='text-content'>8. Quý Khách có thể tự gán cảnh báo hạn mức cho tài khỏan.</p>
                        <p class='text-content'>9. Quý khách có thể cài đặt nhắc nhở lịch các sự kiện phải ghi nhớ.</p>
                        <p class='text-content'>10. Quý Khách có thể tự thay đổi mật khẩu đăng nhập Ngân hàng trực tuyến HDBank.</p>
                        <p class='text-content'>11. Quý Khách là Khách Hàng Doanh Nghiệp, Quý có thể tạo ra nhiều nhóm người sử dụng chính và người sử dụng phụ, và ủy quyền cho các nhóm người này, thực hiện các giao dịch tài chính trực tuyến. Tuy nhiên, người duyệt các giao dịch tài chính này, cuối cùng là Quý Khách.</p>
                        <h4>B. Ngân hàng trực tuyến HDBank bảo mật và bảo vệ tài khỏan của Khách Hàng</h4>
                        <p class='text-content'>Ngân hàng HDBank cam kết mạnh mẽ trong việc bảo vệ an ninh và bảo mật thông tin tài khỏan của Khách Hàng. Ngân hàng HDBank sử dụng một số kỹ thuật để giúp đảm bảo an toàn cho dịch vụ Ngân hàng trực tuyến của Ngân hàng HDBank. Người sử dụng phải có một Tên đăng nhập hợp lệ, Mật khẩu chính xác, và một thiết bị (điện thoại di động của Khách Hàng hoặc thiết bị Vasco Token do Ngân hàng HDBank cấp) nhận OTP, để đăng nhập vào. Sau khi kết nối đến máy chủ của Ngân hàng HDBank, nếu không có hành động nào được thực hiện trong vòng 9 phút, tài khỏan của Quý Khách sẽ được tự động đăng xuất khỏi Ngân hàng trực tuyến HDBank.</p>
                        <p class='text-content'>Ngoài ra, Ngân hàng HDBank sử dụng công nghệ mã hóa SSL (secure socket layer) để bảo đảm phiên ngân hàng trực tuyến của Quý Khách. SSL, phương pháp tiêu chuẩn công nghiệp để bảo vệ các thông tin liên lạc web, công trình bằng cách sử dụng một sự kết hợp chìa khoá công cộng và tư nhân để tranh giành dữ liệu từ trình duyệt của Quý Khách đến máy chủ của Ngân hàng HDBank để không bên trái phép có thể đánh chặn các thông tin khi nó đi qua Internet. SSL có hai điểm mạnh, 40-bit và 128-bit, mà đề cập đến độ dài của "khóa phiên" tạo ra bởi tất cả các giao dịch được mã hóa. Các phím, khó khăn hơn là để phá vỡ mã mã hóa. Hầu hết các trình duyệt hỗ trợ 40-bit phiên SSL, và các trình duyệt mới nhất cho phép người dùng để mã hóa các giao dịch trong phiên 128-bit - hàng nghìn tỷ lần mạnh hơn so với phiên 40-bit và, mạnh nhất bảo mật tiên tiến nhất hiện có.</p>
                        <p class='text-content'>Ngân hàng HDBank cũng có được cấp giấy chứng nhận kỹ thuật số bởi một bên thứ ba đáng tin cậy được gọi là một Certification Authority (CA). CA thành lập bản sắc của người dân, tổ chức mà họ cấp giấy chứng nhận kỹ thuật số. Sử dụng giấy chứng nhận kỹ thuật số cho phép Khách Hàng để đạt được sự tự tin rằng họ đang gửi thông tin cá nhân của họ cho một doanh nghiệp hợp pháp và không phải là một kẻ mạo danh. Được sử dụng kết hợp với mã hóa, giấy chứng nhận kỹ thuật số cung cấp một giải pháp bảo mật hoàn chỉnh, đảm bảo danh tính của một hoặc tất cả các bên tham gia trong một giao dịch.</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>

<style>
    .text-content {
        font-size: 1.25rem;
    }
</style>