<div [@routerTransition]>
    <div class="m-subheader">
        <div class="row align-items-center">
            <div class="mr-auto col-auto">
                <h3 class="m-subheader__title">
                    <span>{{"TermsOfUse" | localize}}</span>
                </h3>
            </div>
        </div>
    </div>
    <div id="content" class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <div class="row align-items-center">
                    <div class="row col-md-12 modal-body">
                        <div class="col-md-12" style="text-align: center;">
                            <h2>QUY ĐỊNH VÀ ĐIỀU KHOẢN</h2>
                        </div>
                        <div class='col-md-12'>
                            <h4>1. Thông báo</h4>
                            <p class='text-content'>Bằng việc truy cập vào trang web <a href="https://qlts.baovietnhantho.com.vn" target="_blank">https://qlts.baovietnhantho.com.vn</a> 
                                (hay gọi tắt là “hệ thống”), người dùng (user) đồng ý chịu ràng buộc bởi các điều kiện và điều khoản dưới đây. 
                                Trường hợp không đồng ý, xin vui lòng không truy cập vào trang web.</p>
                        </div>
                        <div class="col-md-12">
                            <h4>2. Quyền sở hữu</h4>
                            <p class='text-content'>Trang Web này là tài sản của Tổng Công ty Bảo Việt Nhân Thọ (dưới đây gọi tắt là "BVNT"), thành viên của Tập đoàn Bảo Việt.</p>
                        </div>
                        <div class='col-md-12'>
                            <h4>3. Bản quyền</h4>
                            <p class='text-content'>Bản quyền đối với Trang Web này, các màn hình hiển thị các Trang Web, thông tin và tài liệu trên đó, 
                                và cách sắp xếp của các thông tin và tài liệu này (“Tài Liệu”) được sở hữu bởi BVNT. Sử dụng trái phép Tài Liệu này có thể vi phạm luật bản quyền.</p>
                        </div>
                        <div class='col-md-12'>
                            <h4>4. Giới hạn trách nhiệm</h4>
                            <p class='text-content'>Trong giới hạn được pháp luật cho phép, trong mọi trường hợp BVNT sẽ không chịu trách nhiệm đối với bất kỳ thiệt hại, mất mát nào 
                                bao gồm nhưng không giới hạn, những thiệt hại, mất mát hay phí tổn trực tiếp hay gián tiếp, đặc biệt, ngẫu nhiên hay mang tính hệ quả phát sinh 
                                có liên quan đến Trang Web này hoặc bất kỳ các Trang Web được liên kết nào, hay từ việc bất kỳ bên nào sử dụng hoặc không thể sử dụng được 
                                Trang Web này hoặc bất kỳ Trang Web được liên kết nào.</p>
                            <p class='text-content'>BVNT cam kết sẽ cung cấp dịch vụ sẵn sàng cho người dùng sử dụng. Tuy nhiên, người dùng cũng phải chấp nhận rằng, việc nâng cấp 
                                hệ thống, hệ thống quá tải và các trường hợp bất khả kháng khác cũng đồng nghĩa với việc dịch vụ không luôn luôn sẵn sàng tại mọi lúc mọi nơi.</p>
                        </div>
                        <div class='col-md-12'>
                            <h4>5. Sử dụng Tài Liệu</h4>
                            <p class='text-content'>Tài Liệu và các điều khoản, điều kiện và các mô tả thể hiện trên Trang Web này có thể thay đổi.</p>
                        </div>
                        <div class='col-md-12'>
                            <h4>6. Sử dụng</h4>
                            <p class='text-content'>Trang Web này không nhằm phân phối đến, hoặc sử dụng bởi, bất kỳ cá nhân hoặc tổ chức nào tại bất kỳ 
                                vùng lãnh thổ hay quốc gia nào mà việc phân phối hoặc sử dụng đó là trái với pháp luật địa phương.</p>
                        </div>
                        <div class='col-md-12'>
                            <hr>
                        </div>
                        <div class="col-md-12" style="text-align: center;">
                            <h2>CHÍNH SÁCH BẢO MẬT</h2>
                        </div>
                        <div class='col-md-12'>
                            <h4>1. Bảo mật tài khoản</h4>
                            <p class='text-content'></p>
                        </div>
                        <div class='col-md-12'>
                            <h4></h4>
                            <p class='text-content'>a. Người dùng phải có trách nhiệm bảo mật và giữ gìn tên tài khoản, mật khẩu do BVNT cấp để đảm bảo rằng chỉ có duy nhất người dùng mới 
                                có quyền sử dụng tài khoản này để truy cập dịch vụ và cần sử dụng mọi biện pháp cần thiết để tránh/ngăn chặn việc sử dụng dịch vụ bởi những người không có thẩm quyền.</p>
                            <p class='text-content'>b. Người dùng không nên lưu mật khẩu theo bất kỳ cách nào mà người khác có thể nhận biết, không nên chọn mật khẩu dễ đoán biết như ngày sinh nhật, 
                                số điện thoại của bản thân.</p>
                            <p class='text-content'>c. Không đặt tùy chọn của trình duyệt web cho phép lưu lại tên và mật khẩu người dùng.</p>
                            <p class='text-content'>d. Thoát khỏi hệ thống khi không sử dụng.</p>
                            <p class='text-content'>e. Nếu người dùng nghi ngờ hoặc phát hiện rằng tên đăng nhập, mật khẩu bị lộ, bị mất cắp,  người dùng cần lập tức thay đổi mật khẩu của mình. Nếu không 
                                thể tự thực hiện, người dùng có thể thông báo ngay cho bộ phận IT của BVNT.</p>
                        </div>
                        <div class='col-md-12'>
                            <h4>2. An toàn thông tin</h4>
                            <p class='text-content'>a. BVNT đảm bảo an toàn thông tin liên quan đến các giao dịch trên hệ thống theo quy định của pháp luật; cam kết khả năng hoạt động liên tục của hệ thống; 
                                đảm bảo tính toàn vẹn của thông tin trong quá trình xử lý; đảm bảo xác thực và nhận dạng được người dùng khi người dùng truy cập và sử dụng dịch vụ và đảm bảo áp dụng các 
                                hình thức bảo vệ dữ liệu phù hợp khác.</p>
                            <p class='text-content'>b. Người dùng có trách nhiệm bảo mật các thông tin liên quan trên hệ thống theo quy định.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .text-content {
        font-size: 1.25rem;
    }
</style>