<style>
  .m-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 47px;
    background: transparent;
}
</style>
<div [@routerTransition]>
    <div class="m-subheader">
        <div class="row align-items-center">
            <div class="mr-auto col-auto">
                <a
                    [routerLink]="rootPage()"
                    class="m-subheader__title m-subheader__title--separator link-to-list-page home-page"
                >
                    <span>{{l("HomePage")}}</span>
                </a>
            </div>
        </div>
    </div>

    <div id="content" class="m-content">
        <!--<img src="../../../../assets/logo/BackGround_HDB.png" />-->
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <div class="dashboard-page row mt-2 ml-2" style="margin-left: 0;">
                    <div class="col-md-6">
                        <project-sodo-chart [projectData]="projectData" [sodoData]="sodoData"></project-sodo-chart>
                    </div>
                    <div class="col-md-6">
                        <expired-contract-chart [contractData]="expiredContractData"></expired-contract-chart>
                    </div>
                    
                    <div class="col-md-6 mt-5">
                        <project-type-chart [projectTypeData]="projectTypeData"></project-type-chart>
                    </div>
                    <div class="col-md-6 mt-5">
                        <top10-project [projectList]="top10projects"></top10-project>
                    </div>
                    <div class="col-md-6 mt-5">
                        <revenue-chart [revenueData]="revenueData"></revenue-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>