<style>
  .m-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 47px;
    background: transparent;
}
</style>
<div [@routerTransition]>
    <div class="m-subheader">
        <div class="row align-items-center">

        </div>
    </div>

    <div id="content" class="m-content">
        <div class="dashboard-page row mt-2 ml-2" style="margin-left: 0;">
           <!--<img src="../../../../assets/logo/BackGround_HDB.png" />-->
            
           
        </div>
    </div>
    
</div>