<img src="/assets/logo/home-background.png?v=1"
    style="width:99%" />
<div [@routerTransition]>
    <div class="m-login__signin"
        style="position: absolute;
    top: 37%;
    left: 50%;
    margin-top: -50px;
    margin-left: -71px;
    width: 220px;
    height: auto;">
        <form #resetPassForm="ngForm"
            class="m-login__form"
            method="post"
            (ngSubmit)="save()">
            <h3 class="mb-4"
                style="color: #fe0422 !important;">
                {{"PleaseEnterYourNewPassword" | localize}}
            </h3>

            <div class="form-group m-form__group">
                <input type="password"
                    name="Password"
                    class="form-control placeholder-no-fix"
                    [(ngModel)]="model.password"
                    #password="ngModel"
                    placeholder="{{'Password' | localize}}"
                    validateEqual="PasswordRepeat"
                    reverse="true"
                    [requireDigit]="!passwordComplexitySetting.requireDigit"
                    [requireLowercase]="!passwordComplexitySetting.requireLowercase"
                    [requireUppercase]="!passwordComplexitySetting.requireUppercase"
                    [requireNonAlphanumeric]="!passwordComplexitySetting.requireNonAlphanumeric"
                    [requiredLength]="passwordComplexitySetting.requiredLength"
                    required>
            </div>
            <div *ngIf="password.invalid && isShowError"
                class="form-group">
                <ul class="help-block text-danger">
                    <li *ngIf="password?.errors.required">{{"PleaseEnterPassword" | localize}}</li>
                </ul>
            </div>
            <div [hidden]="resetPassForm.form.valid || resetPassForm.form.pristine"
                class="form-group">
                <ul class="help-block text-danger"
                    *ngIf="password.errors">
                    <li [hidden]="!password.errors.requireDigit">{{"PasswordComplexity_RequireDigit_Hint" | localize}}
                    </li>
                    <li [hidden]="!password.errors.requireLowercase">{{"PasswordComplexity_RequireLowercase_Hint" |
                        localize}}</li>
                    <li [hidden]="!password.errors.requireUppercase">{{"PasswordComplexity_RequireUppercase_Hint" |
                        localize}}</li>
                    <li [hidden]="!password.errors.requireNonAlphanumeric">
                        {{"PasswordComplexity_RequireNonAlphanumeric_Hint" | localize}}</li>
                    <li [hidden]="!password.errors.requiredLength">{{"PasswordComplexity_RequiredLength_Hint" |
                        localize:passwordComplexitySetting.requiredLength}}</li>
                </ul>
            </div>

            <div class="form-group m-form__group">
                <input type="password"
                    name="passwordRepeat"
                    class="form-control placeholder-no-fix"
                    [(ngModel)]="passwordRepeatText"
                    #passwordRepeat="ngModel"
                    placeholder="{{'PasswordRepeat' | localize}}"
                    validateEqual="Password"
                    reverse="false"
                    [requireDigit]="!passwordComplexitySetting.requireDigit"
                    [requireLowercase]="!passwordComplexitySetting.requireLowercase"
                    [requireUppercase]="!passwordComplexitySetting.requireUppercase"
                    [requireNonAlphanumeric]="!passwordComplexitySetting.requireNonAlphanumeric"
                    [requiredLength]="passwordComplexitySetting.requiredLength"
                    required>
            </div>
            <div *ngIf="passwordRepeat.invalid && isShowError"
                class="form-group">
                <ul class="help-block text-danger">
                    <li *ngIf="passwordRepeat?.errors.required">{{"PleaseEnterPassword" | localize}}</li>
                </ul>
            </div>
            <div [hidden]="resetPassForm.form.valid || resetPassForm.form.pristine"
                class="form-group">
                <ul class="help-block text-danger"
                    *ngIf="passwordRepeat.errors">
                    <li [hidden]="!passwordRepeat.errors.requireDigit">{{"PasswordComplexity_RequireDigit_Hint" |
                        localize}}
                    </li>
                    <li [hidden]="!passwordRepeat.errors.requireLowercase">{{"PasswordComplexity_RequireLowercase_Hint"
                        |
                        localize}}</li>
                    <li [hidden]="!passwordRepeat.errors.requireUppercase">{{"PasswordComplexity_RequireUppercase_Hint"
                        |
                        localize}}</li>
                    <li [hidden]="!passwordRepeat.errors.requireNonAlphanumeric">
                        {{"PasswordComplexity_RequireNonAlphanumeric_Hint" | localize}}</li>
                    <li [hidden]="!passwordRepeat.errors.requiredLength">{{"PasswordComplexity_RequiredLength_Hint" |
                        localize:passwordComplexitySetting.requiredLength}}</li>
                    <li *ngIf="isShowErrorRepeat">{{"PasswordsDontMatch" | localize}}</li>
                </ul>
            </div>

            <div class="m-login__form-action">
                <button [disabled]="saving"
                    routerLink="/account/login"
                    type="button"
                    class="btn btn-primary  m-btn m-btn--pill m-btn--custom"><i class="fa fa-arrow-left"></i> {{"Back" |
                    localize}}</button>
                <button type="submit"
                    class="btn btn-primary m-btn m-btn--pill m-btn--custom m-btn--air"
                    [buttonBusy]="saving"
                    [busyText]="l('SavingWithThreeDot')"><i class="fa fa-check"></i> {{"Submit" | localize}}</button>
            </div>

        </form>
    </div>
</div>