<div [@routerTransition]>
    <appToolbar #appToolbar></appToolbar>
    <div class="m-subheader">
        <div class="row align-items-center">
            <div class="mr-auto col-auto">
                <!-- Begin Title -->
                <a [routerLink]="rootPage()" class="m-subheader__title m-subheader__title--separator link-to-list-page home-page">
                    <span>{{l("HomePage")}}</span>
                </a>
                <h3 (click)="goBack()" class="m-subheader__title m-subheader__title--separator link-to-list-page">
                    <span>Danh mục Công ty thành viên</span>
                </h3>
                <span [ngSwitch]="editPageState" class="m-section__sub">
                    <span *ngSwitchCase="EditPageState.add">{{l("Toolbar_Create")}}</span>
                    <span *ngSwitchCase="EditPageState.edit">{{l("Toolbar_Update")}}</span>
                    <span *ngSwitchCase="EditPageState.viewDetail">{{l("Toolbar_ViewDetail")}}</span>
                </span>
                <!-- End Title -->
            </div>
            <div class="col text-right mt-3 mt-md-0 mr-4">
                <div class="btn-group dropdown">
                    <button class="btn btn-outline-success"
                    *ngIf="editPageState=='ViewDetail'"
                        (click)="exportToExcel()">
                        <i class="far fa-file-excel"></i>
                        {{l("ExcelOperations")}}
                    </button>
                </div>
              </div>
        </div>
    </div>

    <div id="content" class="m-content">
        <div class="m-portlet m-portlet--mobile">
            <div class="m-portlet__body">
                <!-- Begin Form -->
                <form #editForm="ngForm" id="editForm" novalidate (ngSubmit)="saveInput()" autocomplete="off">
                    <div class="modal-body row">
                        <div class="col-md-12 align-right">
                            <div class="form-group">
                                <auth-status-2-input-page [authStatus]="inputModel.autH_STATUS"></auth-status-2-input-page>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12 mt-3">
                                <h4>THÔNG TIN CÔNG TY</h4>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Mã công ty</label>
                                        <input 
                                            [disabled]="disableInput"
                                            [(ngModel)]="inputModel.id"
                                            name="companY_IDFilter"
                                            autoFocus
                                            class="form-control m-input"
                                            type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tên công ty</label>
                                        <input 
                                            [disabled]="disableInput"
                                            [(ngModel)]="inputModel.subsidiarY_NAME"
                                            name="subsidiarY_NAME"
                                            autoFocus
                                            class="form-control m-input"
                                            type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Mệnh giá</label>
                                        <input 
                                            [disabled]="disableInput"
                                            [(ngModel)]="inputModel.subsidiarY_COMPANY_PAR_VALUE_PER_SHARE"
                                            name="companY_PAR_VALUE_PER_SHAREFilter"
                                            autoFocus
                                            class="form-control m-input"
                                            type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tên vùng miền</label>
                                        <select2-custom
                                        class="transparent"
                                        [disabled]="disableInput"
                                        #regioN_ID="ngModel"
                                        name="regioN_ID"
                                        [(ngModel)]="inputModel.regioN_ID"
                                        [(list)]="regionList"
                                        [valueMember]="'id'"
                                        [displayMember]="'name'"
                                        >
                                        </select2-custom>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Tên tỉnh/ thành</label>
                                        <select2-custom
                                        class="transparent"
                                        [disabled]="disableInput"
                                        #provincE_ID="ngModel"
                                        name="provincE_ID"
                                        [(ngModel)]="inputModel.provincE_ID"
                                        [(list)]="provinceList"
                                        [valueMember]="'id'"
                                        [displayMember]="'name'"
                                        >
                                        </select2-custom>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Địa chỉ</label>
                                        <input 
                                            [disabled]="disableInput"
                                            [(ngModel)]="inputModel.subsidiarY_ADDRESS"
                                            name="subsidiarY_ADDRESSFilter"
                                            autoFocus
                                            class="form-control m-input"
                                            type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Số điện thoại</label>
                                        <input 
                                            [disabled]="disableInput"
                                            [(ngModel)]="inputModel.subsidiarY_TEL"
                                            name="subsidiarY_TELFilter"
                                            autoFocus
                                            class="form-control m-input"
                                            type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Mã số thuế</label>
                                        <input 
                                            [disabled]="disableInput"
                                            [(ngModel)]="inputModel.subsidiarY_TAX_CODE"
                                            name="subsidiarY_TAX_CODEFilter"
                                            autoFocus
                                            class="form-control m-input"
                                            type="text">
                                    </div>
                                </div>
                                <!-- Ghi chú -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{l("Note")}}</label>
                                        <input 
                                            [disabled]="disableInput"
                                            [(ngModel)]="inputModel.notes"
                                            name="notes"
                                            autoFocus
                                            class="form-control m-input"
                                            type="text">
                                    </div>
                                </div>
                            </div>
                        </div>

                          <div class="col-md-12 mt-3" [hidden]="editPageState == 'Add'">
                            <h4>DANH SÁCH CỔ PHẦN</h4>
                          </div>
                          <div class="action-button col-md-12" [hidden]="editPageState == 'Add'">
                            <button type="button" [disabled]="!disableInput" class="btn btn-primary" (click)="addNewShareholder()"><i class="pi pi-plus"></i>{{l("Add")}}</button>
                            <button type="button" [disabled]="!disableInput" class="btn btn-danger" (click)="removeShareholder()"><i
                                    class="pi pi-times"></i>{{l("Delete")}}</button>
                          </div>
                          <div class="primeng-datatable-container col-md-12" [hidden]="editPageState == 'Add'">
                            <editable-table #shareEditTable class="custom-table ui-table">
                                <thead>
                                    <tr>
      
                                        <th>
                                            <span style="width: 40px">
                                                <checkbox-control [disabled]="disableInput" (onchange)="checkAllShareholder($event.target.checked)" [checked]="shareEditTable.isCheckAll"></checkbox-control>
                                            </span>
                                        </th>
                                        <th><span style="width: 40px">{{l("No")}}</span></th>
      
                                        <th><span style="width: 150px">Mã cổ đông</span></th>
                                        <th style="width:50%"><span style="width: 150px">Tên cổ đông</span></th>
                                        <th style="width:50%" ><span style="width: 150px">Loại cổ đông</span></th>
                                        <th><span style="width: 150px">Số cổ phần</span></th>
                                        <th><span style="width: 150px">Giá trị vốn góp</span></th>
                                        <th><span style="width: 150px">Hoạt động</span></th>
                                        <th><span style="width: 150px">{{l("ApproveStatus")}}</span></th>
                                        <th><span style="width: 150px">Ghi chú</span></th>
                                        <th><span style="width: 150px">Thao tác</span></th>
                                        
                                    </tr>
      
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of shareEditTable.dataInPage" #editRow ng-form [hidden]="item.page != shareEditTable.currentPage">
      
                                        <td class="center">
                                            <span class="mo-header"></span>
                                            <checkbox-control [disabled]="!disableInput" (onchange)="checkedShareholder(item, $event.target.checked)" [checked]="item['isChecked']"></checkbox-control>
                                        </td>
      
                                        <td class="center"><span class="mo-header"></span>{{item.no}}</td>
                                        <td>
                                            <span class="mo-header"></span>{{ item.id }}
                                        </td>
                                        <td>
                                            <span class="mo-header"></span>{{ item.shareholdeR_NAME }}
                                        </td>
                                        <td>
                                            <span class="mo-header"></span>{{ item.shareholdeR_TYPE }}
                                        </td>
                                        <td>
                                            <span class="mo-header"></span>{{ item.shareholdeR_SHARE }}
                                        </td>
                                        <td>
                                            <span class="mo-header"></span>{{ item.shareholdeR_VALUE }}
                                        </td>
                                        <td>
                                            <span class="mo-header"></span>{{ item.recorD_STATUS_NAME }}
                                        </td>
                                        <td>
                                            <span class="mo-header"></span>{{ item.autH_STATUS_NAME }}
                                        </td>
                                        <td>
                                            <span class="mo-header"></span>{{ item.notes }}
                                        </td>
                                        <td>
                                            <span class="mo-header"></span>
                                            <div class="width-100 d-flex flex-row d-flex justify-content-around">
                                                <i *ngIf="disableInput"
                                                class="bi bi-eye" 
                                                style="font-size: 20px;cursor: pointer;" 
                                                (click)="viewShareholder(item)"
                                                ></i>
                                                <i *ngIf="disableInput"
                                                class="bi bi-pencil-square" 
                                                style="font-size: 20px;cursor: pointer;" 
                                                (click)="editShareholder(item)"
                                                ></i>
                                                <i *ngIf="!disableInput"
                                                class="bi bi-eye" 
                                                style="font-size: 20px;" 
                                                ></i>
                                                <i *ngIf="!disableInput"
                                                class="bi bi-pencil-square" 
                                                style="font-size: 20px;" 
                                                ></i>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </editable-table>
                          </div>
                    </div>
                </form>
                <!-- Begin Form -->
            </div>
        </div>
    </div>
</div>
