<div style="background-color:white;height:200px; cursor: pointer;">
    <div class="pt-2" style="background-color:#4682b4;color:white;text-align: left;height: 27px;">
    <div style="
    margin-left: 5px;
    font-size: 15px;
    font-weight: bold;
    margin-top: -3px;">{{this.l('Total NBV')}}</div>
    </div>
    <div
      class="p-5"
      style="text-align: center;
      color: white;
      word-wrap: break-word;
      background-color: #1BABF7;
      height:115%">
      <h1 class="pt-4" style="margin-top: 27px;" ><strong >{{this.total}}</strong></h1>
    </div>
  </div>