<div [@routerTransition]>
  <appToolbar #appToolbar></appToolbar>
  <div id="page-list-area">
      <div class="m-subheader">
          <div class="row align-items-center">
              <div class="mr-auto col-auto">
                  <a
                      [routerLink]="rootPage()"
                      class="m-subheader__title m-subheader__title--separator link-to-list-page home-page"
                  >
                      <span>{{l("HomePage")}}</span>
                  </a>
                  <h3
                      class="m-subheader__title m-subheader__title--separator"
                  >
                      <!-- Begin Title -->
                      <span>Danh mục Hợp đồng thuê Bất động sản</span>
                      <!-- End Title -->
                  </h3>
              </div>
              <div class="col text-right mt-3 mt-md-0 mr-4">
                  <div class="btn-group dropdown">
                      <button class="btn btn-outline-success"
                      *ngIf="appToolbar.buttonSearchEnable"
                          (click)="exportToExcel()">
                          <i class="far fa-file-excel"></i>
                          {{l("ExcelOperations")}}
                      </button>
                  </div>
              </div>
          </div>
      </div>

      <div id="content"
          class="m-content">
          <div class="m-portlet m-portlet--mobile">
              <div class="m-portlet__body">
                  <form class="horizontal-form filter-form"
                      autocomplete="off">
                      <div class="m-form m-form--label-align-right">
                          <div class="row align-items-center m--margin-bottom-30">
                              <!-- Begin Filter -->
                              <!-- Mã cổ đông ngoài -->
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label>Số hợp đồng</label>
                                      <input 
                                          [(ngModel)]="filterInput.id"
                                          name="contracT_IDFilter"
                                          autoFocus
                                          class="form-control m-input"
                                          type="text">
                                  </div>
                              </div>

                              <!-- BDS -->
                              <div class="col-md-4">
                                <div class="form-group">
                                    <label>BDS</label>
                                    <select2-custom (onChangeSelect2)="onSelectRecord($event)"
                                        name="invested_prop"
                                        class="transparent"
                                        [(ngModel)]="filterInput.autH_STATUS"
                                        [emptyText]="l('SelectAll')"
                                        [(list)]="auths"
                                        [valueMember]="'autH_STATUS'"
                                        [displayMember]="'autH_STATUS_NAME'">
                                    </select2-custom>
                                </div>
                            </div>

                            <div class="col-md-4">
                              <div class="form-group">
                                  <label>Ngày ký từ</label>
                                  <date-control 
                                  #contracT_SIGN_DT="ngModel"
                                  name="contracT_SIGN_DT"
                                  [(ngModel)]="filterInput.contracT_SIGN_DT_FROM"
                                  autoFocus>
                                  </date-control>
                              </div>
                            </div>

                            <div class="col-md-4">
                              <div class="form-group">
                                  <label>Ngày ký đến</label>
                                  <date-control 
                                  #contracT_SIGN_DT="ngModel"
                                  name="contracT_SIGN_DT"
                                  [(ngModel)]="filterInput.contracT_SIGN_DT_TO"
                                  autoFocus>
                                  </date-control>
                              </div>
                            </div>

                              <!-- Trạng thái duyệt -->
                              <div class="col-md-4">
                                  <div class="form-group">
                                      <label>{{l("ApproveStatus")}}</label>
                                      <select2-custom (onChangeSelect2)="onSelectRecord($event)"
                                          name="autH_STATUS"
                                          class="transparent"
                                          [(ngModel)]="filterInput.autH_STATUS"
                                          [emptyText]="l('SelectAll')"
                                          [(list)]="auths"
                                          [valueMember]="'autH_STATUS'"
                                          [displayMember]="'autH_STATUS_NAME'">
                                      </select2-custom>
                                  </div>
                              </div>
                              <!-- End Filter -->
                              <div style="display:none;"
                                  class="col-md-12">
                                  <div class="form-group">
                                      <button *ngIf="appToolbar.buttonSearchEnable"
                                          class="btn btn-primary btn-search"
                                          (click)="onSearch()"></button>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </form>
                  <div class="row align-items-center">
                      <div class="primeng-datatable-container">
                          <div class="spinner-border m-5"
                              role="status">
                              <span class="sr-only">Loading...</span>
                          </div>
                          <core-table #coreTable
                              class="custom-table ui-table"
                              (reloadPage)="search()">
                              <thead>
                                  <tr>
                                      <!-- Begin Table Column -->
                                      <!-- STT -->
                                      <th class="center">
                                          <span style="width: 40px">{{l("No")}}</span>
                                      </th>
                                      <!-- Mã phòng -->
                                      <th style="width:30%"
                                          sortField="contracT_ID">
                                          <span style="width: 150px">Mã hợp đồng</span>
                                      </th>
                                      <!-- Tên phòng ban -->
                                      <th style="width:40%"
                                          sortField="contracT_SIGN_DT">
                                          <span style="width: 150px">Ngày ký hợp đồng</span>
                                      </th>
                                      <th style="width:30%"
                                          sortField="contracT_PARTNER_ID">
                                          <span style="width: 150px">Đối tác thuê BĐS</span>
                                      </th>
                                      <th sortField=""
                                          style="width:100%">
                                          <span style="width: 200px">Tổng giá trị hợp đồng</span>
                                      </th>
                                      <th sortField="creatE_DT"
                                          style="width:100%">
                                          <span style="width: 200px">Ngày tạo</span>
                                      </th>
                                      <th sortField=""
                                          style="width:100%">
                                          <span style="width: 200px">Người tạo</span>
                                      </th>
                                      <th sortField="approvE_DT"
                                          style="width:100%">
                                          <span style="width: 200px">Ngày duyệt</span>
                                      </th>
                                      <th sortField=""
                                          style="width:100%">
                                          <span style="width: 200px">Người duyệt</span>
                                      </th>
                                      <th sortField=""
                                          style="width:100%">
                                          <span style="width: 200px">Ngày chỉnh sửa cuối cùng</span>
                                      </th>
                                      <th sortField=""
                                          style="width:100%">
                                          <span style="width: 200px">Người chỉnh sửa</span>
                                      </th>
                                      <!-- Trạng thái duyệt -->
                                      <th sortField="autH_STATUS_NAME">
                                          <span style="width: 150px">{{l("ApproveStatus")}}</span>
                                      </th>
                                      <th sortField="notes">
                                        <span style="width: 150px">Ghi chú</span>
                                    </th>
                                      <!-- End Table Column -->
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let record of dataTable.records"
                                      class="selectable"
                                      (dblclick)="onDblclick(record)"
                                      (click)="selectRow($event,record)">
                                      <!-- Begin Table Value -->
                                      <!-- STT -->
                                      <td class="center"><span class="mo-header"></span>{{(filterInputSearch.skipCount
                                          + dataTable.records.indexOf(record)) + 1}}
                                      </td>
                                      <!-- Mã phòng -->
                                      <td><span class="mo-header"></span>{{record.id}}</td>
                                      <td><span class="mo-header"></span>{{record.contracT_SIGN_DT ? (record.contracT_SIGN_DT | momentFormat:'L') : '-'}}</td>
                                      <td><span class="mo-header"></span>{{record.contracT_PARTNER_NAME}}</td>
                                      <td><span class="mo-header"></span>{{record.totaL_REVENUE}}</td>
                                      <td><span class="mo-header"></span>{{ record.creatE_DT ? (record.creatE_DT | momentFormat:'L') : '-'}}</td>
                                      <td><span class="mo-header"></span>{{ record.makeR_NAME }}</td>
                                      <td><span class="mo-header"></span>{{ record.approvE_DT ? (record.approvE_DT | momentFormat:'L') : '-'}}</td>
                                      <td><span class="mo-header"></span>{{ record.checkeR_NAME }}</td>
                                      <td><span class="mo-header"></span>{{ record.modifY_DT ? (record.modifY_DT | momentFormat:'L') : '-'}}</td>
                                      <td><span class="mo-header"></span>{{ record.modifieR_NAME }}</td>
                                      <td><span class="mo-header"></span>{{record.autH_STATUS_NAME}}</td>
                                      <td><span class="mo-header"></span>{{record.notes}}</td>
                                      <!-- End Table Value -->
                                  </tr>
                              </tbody>
                          </core-table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
