<footer class="m-grid__item m-footer ">
    <div style="display: flex;flex-direction: row;">
        <!-- <div style="height: 47px
        ">
            <img src="../../../assets/logo/logoGsoft.png" style="    position: relative;
            bottom: 68px;">
        </div> -->
        <div style="height:47px; display: flex;align-items: center;">
            <img src="../../../assets/logo/Rectangle 98.png" style="margin-right:10px; margin-left: 32px;">
           <p style="font-family: 'Roboto';
           font-style: normal;
           font-weight: 700;
           font-size: 14px;
           line-height: 16px;
           letter-spacing: 0.05em;
           
           color: #2A3072;
           margin-bottom:0 !important"> g_DOC v.1.0.{{releaseDate}} © Copyright 

            
        </div>
     
                      <!-- -->
                    
                    
                        <!--<a (click)='termsOfUse()'
                            style="cursor: pointer; color: rgb(0 141 241);">Terms of use</a>-->
                    
    </div>
</footer>