<div [@routerTransition]>
    <div class="m-subheader">
        <div class="row align-items-center">
            <div class="mr-auto col-auto">
                <a href="javascript.void(0)" class="m-subheader__title m-subheader__title--separator link-to-list-page home-page">
                    <span>{{l("HomePage")}}</span>
                </a>
            </div>
        </div>
    </div>

    <div id="content" class="m-content">
        <div class="dashboard-page">
            <img src="/assets/logo/homepage.png?v=1" />
        </div>
    </div>
</div>