<div [@routerTransition]>
    <appToolbar #appToolbar></appToolbar>
    <div id="page-list-area">
        <div class="m-subheader">
            <div class="row align-items-center">
                <div class="mr-auto col-auto">
                    <a
                        [routerLink]="rootPage()"
                        class="m-subheader__title m-subheader__title--separator link-to-list-page home-page"
                    >
                        <span>{{l("HomePage")}}</span>
                    </a>
                    <h3
                        class="m-subheader__title m-subheader__title--separator"
                    >
                        <!-- Begin Title -->
                        <span>Danh mục cổ đông ngoài</span>
                        <!-- End Title -->
                    </h3>
                </div>
                <div class="col text-right mt-3 mt-md-0">
                    <div class="btn-group dropdown mr-2">
                        <button class="btn btn-outline-success"
                        *ngIf="appToolbar.buttonSearchEnable"
                            (click)="exportExcel()">
                            <i class="far fa-file-excel"></i>
                            {{l("ExcelOperations")}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="content"
            class="m-content">
            <div class="m-portlet m-portlet--mobile">
                <div class="m-portlet__body">
                    <form class="horizontal-form filter-form"
                        autocomplete="off">
                        <div class="m-form m-form--label-align-right">
                            <div class="row align-items-center m--margin-bottom-30">
                                <!-- Begin Filter -->
                                <!-- Mã cổ đông ngoài -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Mã cổ đông ngoài</label>
                                        <input 
                                            [(ngModel)]="filterInput.o_SHAREHOLDER_ID"
                                            name="o_SHAREHOLDER_IDFilter"
                                            autoFocus
                                            class="form-control m-input"
                                            type="text">
                                    </div>
                                </div>
                                <!-- Tên cổ đông ngoài -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Tên cổ đông ngoài</label>
                                        <input 
                                            [(ngModel)]="filterInput.o_SHAREHOLDER_NAME"
                                            name="o_SHAREHOLDER_NAMEFilter"
                                            autoFocus
                                            class="form-control m-input"
                                            type="text">
                                    </div>
                                </div>
                                <!-- Tên phòng ban -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>MST/CMND/CCCD/Hộ chiếu</label>
                                        <input 
                                            [(ngModel)]="filterInput.o_SHAREHOLDER_CODE"
                                            name="o_SHAREHOLDER_CODEFilter"
                                            class="form-control m-input"
                                            type="text">
                                    </div>
                                </div>
                                <div class="col-md-12"></div>
                                <!-- Khối -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Hoạt động</label>
                                        <select2-custom (onChangeSelect2)="onSelectRecord($event)"
                                            name="recorD_STATUS"
                                            class="transparent"
                                            [(ngModel)]="filterInput.recorD_STATUS"
                                            [emptyText]="l('SelectAll')"
                                            [(list)]="records"
                                            [valueMember]="'recorD_STATUS'"
                                            [displayMember]="'recordName'">
                                        </select2-custom>
                                    </div>
                                </div>

                                <!-- Trạng thái duyệt -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{l("ApproveStatus")}}</label>
                                        <select2-custom (onChangeSelect2)="onSelectRecord($event)"
                                            name="autH_STATUS"
                                            class="transparent"
                                            [(ngModel)]="filterInput.autH_STATUS"
                                            [emptyText]="l('SelectAll')"
                                            [(list)]="auths"
                                            [valueMember]="'autH_STATUS'"
                                            [displayMember]="'autH_STATUS_NAME'">
                                        </select2-custom>
                                    </div>
                                </div>
                                <!-- End Filter -->
                                <div style="display:none;"
                                    class="col-md-12">
                                    <div class="form-group">
                                        <button *ngIf="appToolbar.buttonSearchEnable"
                                            class="btn btn-primary btn-search"
                                            (click)="onSearch()"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row align-items-center">
                        <div class="primeng-datatable-container">
                            <div class="spinner-border m-5"
                                role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <core-table #coreTable
                                class="custom-table ui-table"
                                (reloadPage)="search()">
                                <thead>
                                    <tr>
                                        <!-- Begin Table Column -->
                                        <!-- STT -->
                                        <th class="center">
                                            <span style="width: 40px">{{l("No")}}</span>
                                        </th>
                                        <!-- Mã phòng -->
                                        <th style="width:30%"
                                            sortField="o_SHAREHOLDER_ID">
                                            <span style="width: 150px">Mã cổ đông ngoài</span>
                                        </th>
                                        <!-- Tên phòng ban -->
                                        <th style="width:40%"
                                            sortField="o_SHAREHOLDER_NAME">
                                            <span style="width: 150px">Tên cổ đông ngoài</span>
                                        </th>
                                        <!-- Mã đơn vị -->
                                        <!-- <th style="width:30%"
                                            sortField="brancH_CODE">
                                            <span style="width: 150px">{{l("BranchCode")}}</span>
                                        </th> -->
                                        <!-- Tên đơn vị -->
                                        <th style="width:30%"
                                            sortField="o_SHAREHOLDER_CODE">
                                            <span style="width: 150px">MST/CMND/CCCD/Hộ chiếu</span>
                                        </th>
                                        <!-- Dao Code -->
                                        <!-- <th sortField="DAO_CODE">
                                            <span style="width: 150px">{{l("DaoCode")}}</span>
                                        </th> -->
                                        <!-- Dao Name -->
                                        <!-- <th sortField="DAO_NAME">
                                            <span style="width: 150px">{{l("DaoName")}}</span>
                                        </th> -->

                                        <!-- Khối -->
                                        <th sortField="RECORD_STATUS_NAME"
                                            style="width:100%">
                                            <span style="width: 200px">Hoạt động</span>
                                        </th>
                                        <!-- Trạng thái duyệt -->
                                        <th sortField="AUTH_STATUS_NAME">
                                            <span style="width: 150px">{{l("ApproveStatus")}}</span>
                                        </th>
                                        <th sortField="notes">
                                          <span style="width: 150px">Ghi chú</span>
                                      </th>
                                        <!-- End Table Column -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let record of dataTable.records"
                                        class="selectable"
                                        (dblclick)="onDblclick(record)"
                                        (click)="selectRow($event,record)">
                                        <!-- Begin Table Value -->
                                        <!-- STT -->
                                        <td class="center"><span class="mo-header"></span>{{(filterInputSearch.skipCount
                                            + dataTable.records.indexOf(record)) + 1}}
                                        </td>
                                        <!-- Mã phòng -->
                                        <td><span class="mo-header"></span>{{record.o_SHAREHOLDER_ID}}</td>
                                        <!-- Tên phòng ban -->
                                        <td><span class="mo-header"></span>{{record.o_SHAREHOLDER_NAME}}</td>
                                        <!-- Mã đơn vị -->
                                        <!-- <td><span class="mo-header"></span>{{record.brancH_CODE}}</td> -->
                                        <!-- Tên đơn vị -->
                                        <td><span class="mo-header"></span>{{record.o_SHAREHOLDER_CODE}}</td>
                                        <!-- Dao Code -->
                                        <!-- <td><span class="mo-header"></span>{{record.daO_CODE}}</td> -->
                                        <!-- Dao Name -->
                                        <!-- <td><span class="mo-header"></span>{{record.daO_NAME}}</td> -->

                                        <!-- Khối -->
                                        <td><span class="mo-header"></span>{{record.recorD_STATUS_NAME}}</td>
                                        <!-- Mã phòng ban cha -->
                                        <td><span class="mo-header"></span>{{record.autH_STATUS_NAME}}</td>
                                        <!-- Tên phòng ban cha -->
                                        <td><span class="mo-header"></span>{{record.notes}}</td>
                                        <!-- End Table Value -->
                                    </tr>
                                </tbody>
                            </core-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
