<div *ngIf="authStatus == AuthStatusConsts.Approve" class="auth-status-input-page">
    <i class="pi pi-check success-text"></i>
    <span>{{l('Đã duyệt')}}</span>
</div>
<div *ngIf="authStatus == AuthStatusConsts.NotApprove" class="auth-status-input-page">
    <i class="pi pi-plus success-text"></i>
    <span>{{l('Chờ duyệt')}}</span>
</div>
<div *ngIf="authStatus==AuthStatusConsts.Reject" class="auth-status-input-page">
    <i class="pi pi-times error-text"></i>
    <span>{{l('Reject')}}</span>
</div>
<div *ngIf="authStatus==AuthStatusConsts.Revoke" class="auth-status-input-page">
    <i class="pi pi-times error-text"></i>
    <span>Bị hủy</span>
</div>



